In [3]:
from google.colab import files
import pandas as pd
import io
uploaded = files.upload()

Saving processed_df.csv to processed_df.csv

In [4]:
df = pd.read_csv(io.BytesIO(uploaded['processed_df.csv']), index_col=0)
df

                 Name      Race
0               Scott     White
1            Kathleen     White
2             Matthew     White
3             Jeffrey     White
4                Mark     White
...               ...       ...
8475     Mario Tejeda  Hispanic
8476    Mario Tavarez  Hispanic
8477    Mario Taveras  Hispanic
8478  Mario Villatoro  Hispanic
8479     Mario Gudino  Hispanic

[8480 rows x 2 columns]

In [8]:
# URL = "https://namecensus.com/data/black.html"
# r = requests.get(URL)
# df_list = pd.read_html(r.text) # this parses all the tables in webpages to a list
# black_df = df_list[0]
# black_df.columns = black_df.iloc[0]
# black_df = black_df.drop(black_df.index[0])
# black_df["% of people with surname self-identifying as 'black'"] = black_df["% of people with surname self-identifying as 'black'"].apply(lambda x: float(x[:-1]))
# black_df = black_df.sort_values(by=["% of people with surname self-identifying as 'black'", "Surname rank among blacks"], ascending=[False, True])
# black_df["Last name / Surname"] = black_df["Last name / Surname"].apply(lambda x: str(x).title())

# black_df["Given Race"] = "Black"
# black_df = black_df.rename(columns={"Number of occurrences among people self-identifying as 'black'": 'Number of occurences among people self-identifying as given race', 
#                                       'Surname rank among blacks': 'Surname rank among given race', 
#                                       "% of people with surname self-identifying as 'black'": "% of people with surname self-identifying as given race"})


# URL = "https://namecensus.com/data/white.html"
# r = requests.get(URL)
# df_list = pd.read_html(r.text) # this parses all the tables in webpages to a list
# white_df = df_list[0]
# white_df.columns = white_df.iloc[0]
# white_df = white_df.drop(white_df.index[0])
# white_df["Number of occurrences among people self-identifying as \'white\'"] = white_df["Number of occurrences among people self-identifying as \'white\'"].apply(lambda x: float(x))
# white_df["% of people with surname self-identifying as 'white'"] = white_df["% of people with surname self-identifying as 'white'"].apply(lambda x: float(x[:-1]))
# white_df = white_df.sort_values(by=["% of people with surname self-identifying as 'white'", "Surname rank among whites"], ascending=[False, True])
# white_df["Last name / Surname"] = white_df["Last name / Surname"].apply(lambda x: str(x).title())

# white_df["Given Race"] = "White"
# white_df = white_df.rename(columns={"Number of occurrences among people self-identifying as 'white'": 'Number of occurences among people self-identifying as given race', 
#                                       'Surname rank among whites': 'Surname rank among given race', 
#                                       "% of people with surname self-identifying as 'white'": "% of people with surname self-identifying as given race"})


# URL = "https://namecensus.com/data/hispanic.html"
# r = requests.get(URL)
# df_list = pd.read_html(r.text) # this parses all the tables in webpages to a list
# hispanic_df = df_list[0]
# hispanic_df.columns = hispanic_df.iloc[0]
# hispanic_df = hispanic_df.drop(hispanic_df.index[0])
# hispanic_df["Number of occurrences among people self-identifying as \'Hispanic\'"] = hispanic_df["Number of occurrences among people self-identifying as \'Hispanic\'"].apply(lambda x: float(x))
# hispanic_df["% of people with surname self-identifying as 'hispanic'"] = hispanic_df["% of people with surname self-identifying as 'hispanic'"].apply(lambda x: float(x[:-1]))
# hispanic_df = hispanic_df.sort_values(by=["% of people with surname self-identifying as 'hispanic'", "Surname rank among hispanics"], ascending=[False, True])
# hispanic_df["Last name / Surname"] = hispanic_df["Last name / Surname"].apply(lambda x: str(x).title())

# hispanic_df["Given Race"] = "Hispanic"
# hispanic_df = hispanic_df.rename(columns={"Number of occurrences among people self-identifying as 'Hispanic'": 'Number of occurences among people self-identifying as given race', 
#                                       'Surname rank among hispanics': 'Surname rank among given race', 
#                                       "% of people with surname self-identifying as 'hispanic'": "% of people with surname self-identifying as given race"})


# URL = "https://namecensus.com/data/asian_pacific_islander.html"
# r = requests.get(URL)
# df_list = pd.read_html(r.text) # this parses all the tables in webpages to a list
# aapi_df = df_list[0]
# aapi_df.columns = aapi_df.iloc[0]
# aapi_df = aapi_df.drop(aapi_df.index[0])
# aapi_df["Number of occurrences among people self-identifying as Asian & Pacific Islander"] = aapi_df["Number of occurrences among people self-identifying as Asian & Pacific Islander"].apply(lambda x: float(x))
# aapi_df["% of people with surname self-identifying as 'Asian & Pacific Islander'"] = aapi_df["% of people with surname self-identifying as 'Asian & Pacific Islander'"].apply(lambda x: float(x[:-1]))
# aapi_df = aapi_df.sort_values(by=["% of people with surname self-identifying as 'Asian & Pacific Islander'", "Surname rank among Asians & Pacific Islanders"], ascending=[False, True])
# aapi_df["Last name / Surname"] = aapi_df["Last name / Surname"].apply(lambda x: str(x).title())

# aapi_df["Given Race"] = "Asian & Pacific Islander"
# aapi_df = aapi_df.rename(columns={'Number of occurrences among people self-identifying as Asian & Pacific Islander': 'Number of occurences among people self-identifying as given race', 
#                                       'Surname rank among Asians & Pacific Islanders': 'Surname rank among given race', 
#                                       "% of people with surname self-identifying as 'Asian & Pacific Islander'": "% of people with surname self-identifying as given race"})


# URL = "https://namecensus.com/data/indians.html"
# r = requests.get(URL)
# df_list = pd.read_html(r.text) # this parses all the tables in webpages to a list
# indian_df = df_list[0]
# indian_df.columns = indian_df.iloc[0]
# indian_df = indian_df.drop(indian_df.index[0])
# indian_df["Number of occurences among people self-identifying as American Indian & Alaskan Native"] = indian_df["Number of occurences among people self-identifying as American Indian & Alaskan Native"].apply(lambda x: float(x))
# indian_df["% of people with surname self-identifying as 'American Indian & Alaskan Native'"] = indian_df["% of people with surname self-identifying as 'American Indian & Alaskan Native'"].apply(lambda x: float(x[:-1]))
# indian_df = indian_df.sort_values(by=["% of people with surname self-identifying as 'American Indian & Alaskan Native'", "Surname rank among American Indians & Alaskan Natives"], ascending=[False, True])
# indian_df["Last name / Surname"] = indian_df["Last name / Surname"].apply(lambda x: str(x).title())

# indian_df["Given Race"] = "American Indian & Alaskan Native"
# indian_df = indian_df.rename(columns={'Number of occurences among people self-identifying as American Indian & Alaskan Native': 'Number of occurences among people self-identifying as given race', 
#                                       'Surname rank among American Indians & Alaskan Natives': 'Surname rank among given race', 
#                                       "% of people with surname self-identifying as 'American Indian & Alaskan Native'": "% of people with surname self-identifying as given race"})


# URL = "https://namecensus.com/data/two_race.html"
# r = requests.get(URL)
# df_list = pd.read_html(r.text) # this parses all the tables in webpages to a list
# multi_race_df = df_list[0]
# multi_race_df.columns = multi_race_df.iloc[0]
# multi_race_df = multi_race_df.drop(multi_race_df.index[0])
# multi_race_df["2 or More Races"] = multi_race_df["2 or More Races"].apply(lambda x: float(x))
# multi_race_df["% of people with surname self-identifying as 'two or more races'"] = multi_race_df["% of people with surname self-identifying as 'two or more races'"].apply(lambda x: float(x[:-1]))
# multi_race_df = multi_race_df.sort_values(by=["% of people with surname self-identifying as 'two or more races'", "Surname rank among 'two or more races'"], ascending=[False, True])
# multi_race_df["Last name / Surname"] = multi_race_df["Last name / Surname"].apply(lambda x: str(x).title())

# multi_race_df["Given Race"] = "Multi-Race"
# multi_race_df = multi_race_df.rename(columns={'2 or More Races': 'Number of occurences among people self-identifying as given race', 
#                                       "Surname rank among 'two or more races'": 'Surname rank among given race', 
#                                       "% of people with surname self-identifying as 'two or more races'": "% of people with surname self-identifying as given race"})


# white_df = white_df[:100]
# black_df = black_df[:100]
# hispanic_df = hispanic_df[:100]
# indian_df = indian_df[:100]
# aapi_df = aapi_df[:100]
# df_list = [white_df, black_df, hispanic_df, indian_df, aapi_df]

# whole_last_name_df = pd.concat(df_list).reset_index(drop=True)

# whole_last_name_df.to_csv("../data/interim/whole_last_name_df.csv")

In [7]:
# first_name_df = pd.read_csv("../data/interim/first_name_df.csv")
# last_name_df = pd.read_csv("../data/interim/whole_last_name_df.csv")

# first_name_df = first_name_df.drop(columns=["Unnamed: 0"])
# last_name_df = last_name_df.drop(columns=["Unnamed: 0"])
# first_name_df["firstname"] = first_name_df["firstname"].apply(lambda x: str(x).title())

# white_fn = first_name_df.sort_values(by=["pctwhite", "obs"], ascending=False).loc[first_name_df["obs"]>10000][:20]
# black_fn = first_name_df.sort_values(by=["pctblack", "obs"], ascending=False).loc[first_name_df["obs"]>25][:20]
# hispanic_fn = first_name_df.sort_values(by=["pcthispanic", "obs"], ascending=False).loc[first_name_df["obs"]>1000][:20]
# api_fn = first_name_df.sort_values(by=["pctapi", "obs"], ascending=False).loc[first_name_df["obs"]>200][:20]

# api_fn_list = list(api_fn["firstname"])
# hispanic_fn_list = list(hispanic_fn["firstname"])
# black_fn_list = list(black_fn["firstname"])
# white_fn_list = list(white_fn["firstname"])

# white_ln_list = last_name_df.loc[last_name_df["Given Race"]=="White"].reset_index(drop=True)["Last name / Surname"]
# black_ln_list = last_name_df.loc[last_name_df["Given Race"]=="Black"].reset_index(drop=True)["Last name / Surname"]
# api_ln_list = last_name_df.loc[last_name_df["Given Race"]=="Asian & Pacific Islander"].reset_index(drop=True)["Last name / Surname"]
# hispanic_ln_list = last_name_df.loc[last_name_df["Given Race"]=="Hispanic"].reset_index(drop=True)["Last name / Surname"]


# api_full_names = [i + " " + j for i in api_fn_list for j in api_ln_list]
# black_full_names = [i + " " + j for i in black_fn_list for j in black_ln_list]
# white_full_names = [i + " " + j for i in white_fn_list for j in white_ln_list]
# hispanic_full_names = [i + " " + j for i in hispanic_fn_list for j in hispanic_ln_list]

# hispanic_first_name_df = pd.DataFrame(hispanic_fn_list, columns=["Name"])
# hispanic_first_name_df["Race"] = "Hispanic"
# hispanic_last_name_df = pd.DataFrame(list(hispanic_ln_list), columns=["Name"])
# hispanic_last_name_df["Race"] = "Hispanic"
# hispanic_df = pd.DataFrame(hispanic_full_names, columns=["Name"])
# hispanic_df["Race"] = "Hispanic"

# black_first_name_df = pd.DataFrame(black_fn_list, columns=["Name"])
# black_first_name_df["Race"] = "Black"
# black_last_name_df = pd.DataFrame(list(black_ln_list), columns=["Name"])
# black_last_name_df["Race"] = "Black"
# black_df = pd.DataFrame(black_full_names, columns=["Name"])
# black_df["Race"] = "Black"

# api_first_name_df = pd.DataFrame(api_fn_list, columns=["Name"])
# api_first_name_df["Race"] = "API"
# api_last_name_df = pd.DataFrame(list(api_ln_list), columns=["Name"])
# api_last_name_df["Race"] = "API"
# api_df = pd.DataFrame(api_full_names, columns=["Name"])
# api_df["Race"] = "API"

# white_first_name_df = pd.DataFrame(white_fn_list, columns=["Name"])
# white_first_name_df["Race"] = "White"
# white_last_name_df = pd.DataFrame(list(white_ln_list), columns=["Name"])
# white_last_name_df["Race"] = "White"
# white_df = pd.DataFrame(white_full_names, columns=["Name"])
# white_df["Race"] = "White"

# whole_df = pd.concat([white_df, white_first_name_df, white_last_name_df, 
#                       black_df, black_first_name_df, black_last_name_df, 
#                       api_df, api_first_name_df, api_last_name_df,
#                       hispanic_df, hispanic_first_name_df, hispanic_last_name_df])